{% extends "common/base.html" %}
{% load static %}
{% block content %}
<div class="top_container">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            스케치북
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>
    </div>
  </header>
  <section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          상상할 수 있는
          이야기를 만들어주는
          재미있는 AI 동화책
        </h1>

        <div class="hero_btn-continer">
          <a href="" class="call_to-btn btn_white-border">
            Read More
          </a>
        </div>
      </div>
      <div class="hero_img-container">
        <div>
          <img src="{% static 'images/hero.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end header section -->

<div class="common_style">

  <!-- about section -->
  <section class="about_section">
    {% block storyboard %}
    {% endblock %}
  </section>


  <!-- end about section -->

  <!-- admission section -->
  <section class="admission_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="admission_detail-box">
            <h3>
              동화 만들기
            </h3>
            <form action="generate_story" method="post">
              {% csrf_token %}
              <div>
                <label for="title">제목 :</label>
                <input id="title" name="title" type="text" />
              </div>
              <div>
                <label for="character">이름 :</label>
                <input id="character" name="character" type="text" />
              </div>
              <div>
                <label for="gender">성벌 :</label>
                <input id="gender" name="gender" type="text" />
              </div>
              <div>
                <label for="age">나이 :</label>
                <input id="age" name="age" type="number" />
              </div>
              <div>
                <label for="contents">줄거리 :</label>
                <input id="contents" name="contents" type="text" />
              </div>
              <div class="">
                <button type="submit" class="call_to-btn btn_white-border">
                  생성하기
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="admission_img-container">
            <img src="{% static 'images/admission.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
        Fanadesh
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="row">
        <div class="col-md-3">
          <h5>
            About Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r
          </p>
        </div>
        <div class="col-md-3">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li>
              <a href="">
                Video games
              </a>
            </li>
            <li>
              <a href="">
                Remote control
              </a>
            </li>
            <li>
              <a href="">
                3d controller
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>
            Contact Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e
          </p>
        </div>
        <div class="col-md-3">

          <div class="subscribe_container">
            <h5>
              Newsletter
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="social_container">

        <div class="social-box">
          <a href="">
            <img src="{% static 'images/fb.png' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'images/twitter.png' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'images/linkedin.png' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'images/instagram.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>

  <!-- footer section -->
  {% endblock %}