{% extends "common/base.html" %}
{% load static %}
{% block content %}
<div class="top_container">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand">
            <p class="h1" style="color:whitesmoke; font-weight: 700;">스케치북</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </header>
  <section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          아이들을 위한 새로운 동화세계! </h1>
          <h1>언제나 이야기를 만들고 선물하세요.
        </h1>
      </div>
      <div class="hero_img-container">
        <div>
          <img src="{% static 'images/hero.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>
<div class="common_style">
  <!-- about section -->
  <section class="about_section">
    {% block storyboard %}
    {% endblock %}
  </section>


  <!-- end about section -->

  <!-- admission section -->
  <section class="admission_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="admission_detail-box">
            <p class="h1">동화 만들기</p>
            <form action="generate_story" method="post">
              {% csrf_token %}
              <div class="mb-3 row">
                <label for="title" class="col-sm-2 col-form-label">제목 :</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" name="title">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="character" class="col-sm-2 col-form-label">이름 :</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="character" name="character">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="gender" class="col-sm-2 col-form-label">성벌 :</label>
                <div class="col-sm-10">
                  <select class="form-select" id="gender" name="gender">
                    <option selected value="남자">남자</option>
                    <option value="여자">여자</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="age" class="col-sm-2 col-form-label">나이 :</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="age" name="age">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="contents" class="col-sm-2 col-form-label">줄거리 :</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="contents" name="contents" rows="3"></textarea>
                </div>
              </div>
              <div class="">
                <button type="submit" class="btn btn-primary" style="float:right" onclick="test()" >생성하기</button>
              </div>
            </form>
          </div>
        </div>
        <script>
          function test(){
            $(".modal__background").css("display", "block");
          }
        </script>
        <div class="col-md-6">
          <div class="admission_img-container">
            <img src="{% static 'images/admission.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
        스케치북
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="row">
        <div class="col-md-3">
          <h5>
            About Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r
          </p>
        </div>
        <div class="col-md-3">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li>
              <a href="">
                Video games
              </a>
            </li>
            <li>
              <a href="">
                Remote control
              </a>
            </li>
            <li>
              <a href="">
                3d controller
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>
            Contact Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e
          </p>
        </div>
        <div class="col-md-3">

          <div class="subscribe_container">
            <h5>
              Newsletter
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="social_container">

        <div class="social-box">
          <a href="">
            <img src="{% static 'images/fb.png' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'images/twitter.png' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'images/linkedin.png' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'images/instagram.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="modal__background" style="display: none;">
    <div class="modal__box">
      <div class="typing-demo">
        AI가 당신의 이야기를 생성중입니다...
      </div>
    </div>
  </div>
  <!-- footer section -->
  {% endblock %}